<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Chat IO</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  </head>
  <body>
    <div class="container clearfix">
      <div <% if(room.isUsr == 'false'){ %> class="chat"<% } else {%> class='chh' <%}%>>
        <div class="chat-header clearfix">
          <img src="<%= user.picture %>" alt="avatar">
          <div class="chat-about">
            <div class="chat-room"><%= room.title %></div>
            <% if(room.isUsr == 'false'){ %>
                <div class="chat-num-users"> Usuários</div>
            <%} else {%>
              <div> Disponível</div>
            <%}%>

          </div>
          <% if(room.isUsr == 'YES'){ %>
            <i class="btn-chh">
              <a href="/rooms" class="btn">Salas</a>
            </i>
          <%}%>

        </div>
        <div class="chat-history">
            <ul>
            </ul>
          </div>


        <div class="chat-message clearfix">
          <input type="hidden" id="roomId" value="<%= room.id %>">
          <input type="hidden" id="">
          <textarea name="" id="msgCripto" cols="50" rows="5"></textarea>
          <textarea name="message" placeholder ="Digite sua mensagem" rows="3"></textarea>
          <button type="submit">Enviar</button>
        </div> <!-- end chat-message -->
      </div> <!-- end chat -->

      <% if(room.isUsr == 'false'){ %>
        <div class="controls">
            <a href="/logout" class="logout-btn">Sair</a>
            <a href="/rooms" class="rooms-btn">Salas</a>
        </div>
        <div class="users-list">
          <ul class="list">
          </ul>
        </div>
      <%}%>

    </div> <!-- end container -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script>$(function(){app.chat('<%= room.id %>', '<%= user.username %>')});</script>
  </body>
</html>
