<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Chat IO</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  </head>
  <body>
    <div class="container clearfix" style="width: 500px;">
      <div class="controls" style="border: none; width: 100%;">
          <a href="/logout" class="logout-btn" style="width: auto; padding: 13px; font-size: 12px;">Sair</a>
      </div>

      <div class="room" style="width: 100%;">
        <div class="room-header clearfix">
          <div class="room-about">
            <h1>CHAT-COFFE</h1>
            <div class="room-num-rooms"> Sala(s)</div>
          </div>
          <i class="fa fa-th-list"></i>
        </div> <!-- end room-header -->

        <div class="room-create clearfix" style="border-bottom: 2px solid white;">
          <input type="text" name="title" autofocus placeholder ="Digite o nome da nova Sala!">
          <button>Ciar</button>
        </div> <!-- end room-create -->

        <div class="room-list" id='room'>
          <h2 class='room-item red'>Salas</h2>
          <ul>
            <% if(rooms.length > 0) { %>
              <% rooms.forEach(function(room) { %>
                <input type="hidden" id='isUsr' value="<%= room.isUsr %>">
                <% if(room.isUsr == "false"){ %>
                  <a href="/chat/<%= room.id %>">
                    <li class="room-item" id='room'><%= (room.title.length > 25? room.title.substr(0, 25) + '...': room.title) %></li>
                  </a>
                  <% }; %>
                <% }); %>
            <% } else { %>
              <p class="message" style="text-align: center; padding: 0; margin: 0;">Create your first room!</p>
            <% } %>
          </ul>
        </div>
        <div class="room-list" id="usr">
          <h2 class='usr-item red'>Usuários</h2>
          <ul>
            <% if(rooms.length > 0) { %>
              <% rooms.forEach(function(room) { %>
                <input type="hidden" id='isUsr' value="<%= room.isUsr %>">
                <% if(room.isUsr == "YES"){ %>
                  <a href="/chat/<%= room.id %>">
                    <li class="usr-item"><%= (room.title.length > 25? room.title.substr(0, 25) + '...': room.title) %></li>
                  </a>
                  <% }; %>
                <% }); %>
            <% } else { %>
              <p class="message" style="text-align: center; padding: 0; margin: 0;">Nem um usuário cadastrado!</p>
            <% } %>
          </ul>
        </div> <!-- end room-list -->
      </div> <!-- end room -->

    </div> <!-- end container -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script>$(function(){app.rooms()});</script>
  </body>
</html>
